
.bg-dark {
    background-color: #092b4e!important;
}

#header {
    padding-top: 1em;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(151, 216, 247, 0.75);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-dark .navbar-brand {
    color: #b3b5c7;
}
.navbar-brand{
font-size: 24px;
}