* {
	font-family: Arial, sans-serif;
	line-height: 1.618em;
}


#reviewerImage{
	display: inline-flexbox;
	    max-width: 200px;
        max-height: 200px;
        padding-top: 1.5em;
        padding-left: 1em;
        padding-right: 1em;

}

#revGrid{
	max-width: 700px;
	margin-left: auto;
	margin-right: 40px;
	display: inline-grid;
	padding-left: 2em;
	padding-right: 2em;
	background: whitesmoke;
	max-height: 280px;
}

#ourNames {
	 color: black;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-decoration: none;
         text-align: center;
}







