* {
	font-family: Arial, sans-serif;
	line-height: 1.618em;
	box-sizing: border-box;
	
}

#body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#reviewerImage{
	display: inline-flexbox;
	max-width: 145px;
	max-height: 150px;
	padding-top: 1.5em;
	padding-left: 1em;
	padding-right: 1em;

}

#revGrid{

	display: inline-grid;
	padding-left: 2em;
	padding-right: 2em;
	background: whitesmoke;
	max-height: 280px;
	margin-left: auto;
	margin-right: auto;

}

#ourNames {
	color: black;
	font-size: 3em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-decoration: none;
}

#header {
	text-align: center;
	margin-left: 0 auto;
	margin-right: 0 auto;
}





