* {
	font-family: Arial, sans-serif;
    line-height: 1.618em;
    margin-left: auto;
    margin-right: auto;
	
	
}

#name {
    font-size: 3em;
    text-align: center;
    padding: 1em;
}

#bio{
    display: inline;
}

