
.starRating{
    max-width: 350px;
    max-height: 100px;
    width: 170px;
}

.rating-container h2{
padding-bottom: 10px;
}

.rating-container{
padding-top: 4rem;
}
.accessibilityRating{
width: 100px;
max-width: 350px;
 max-height: 100px;
}
.rating{
margin-top: 100px;
}
.siteImage{
height: 140px;
}