/*nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(10, 22, 94);

	display: flex;
	flex-flow: row;
	justify-content: center;

}
nav a {
    max-width: 700px;
	padding: 1em 2em;
	text-decoration: none;
    color:#fff;


}
nav a:hover {
	background: rgb(146, 150, 190);
}

#navText {
    max-width: 700px;
    padding: 1em;
}



.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

}
*/
.box{
    max-width: 200px
}
#header{
    padding: 2em;
    text-align: center;
}
.website-container h5{
   margin-left: 42px;
    padding: 10px;
}
.website-container h4{
margin-bottom: 36px;
}


