/*nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(10, 22, 94);

	display: flex;
	flex-flow: row;
	justify-content: center;

}
nav a {
    max-width: 700px;
	padding: 1em 2em;
	text-decoration: none;
    color:#fff;


}
nav a:hover {
	background: rgb(146, 150, 190);
}

#navText {
    max-width: 700px;
    padding: 1em;
}



.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

}
*/

.header{
    text-align: center;
    padding-top: 5rem;
}
.website-container h5{
   margin-left: 42px;
    padding: 10px;
}
.website-container h4{
margin-bottom: 40px;
padding-top: 4rem;
}
.ratings-container{
margin-bottom: 0px;
padding-top: 0rem;
}
.ratings-container .header {
                       text-align: center;
                       padding-top: 1rem;
                       padding-bottom: 30px;
                   }
#reviewImage{
	   max-width: 200px;
           max-height: 200px;
           padding-top: 24px;
           padding-left: 10px;
           padding-right: 10px;
           padding-bottom: 2px;
}


#revGrid{
	   max-width: 634px;
           margin-left: 20px;
           display: inline-grid;
           padding-left: 2em;
           padding-right: 2em;
           max-height: 320px;
}

.form-container{
margin-top: 40px;
padding-bottom: 40px;
}

