<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A Website</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/sitesStyle.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{http://localhost:8080/websites}">Websites</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{http://localhost:8080/reviewers}">Reviewers</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	<h3 class="text-center home-h3">A Learning Website</h3>
	<div class="row">
	<div class="col-md-4" th:each="website: ${websites}">
		<h3 th:text="${website.name}"></h3>
			<img th:src = "@{'/img/' + ${website.image}}" width="100%"/>
		</div>
		<div class="col-md-5" th:each="website: ${websites}">
			<p th:text = "${website.review}"></p>
			<a th:href="@{/reviewers}"><h4>List of Reviewers</h4></a>
		</div>
		<div class="col-md-3" th:each="website: ${websites}">
			<img  th:src="@{'/img/' + ${website.starRating}}" width="100%"/>
			<a th:href="@{/websites}">Back to Websites List</a>
		</div>
	<div th:each="reviewer: ${reviewers}">
		<h2>
			<a th:href="@{/reviewer(id=${reviewer.id})}" th:text="${reviewer.name}"></a>
		</h2>
	</div>
</div>
</div>
</body>
</html>