<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A Website</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/website.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" th:href="@{http://localhost:8080/home}">Learning Sites Review</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{http://localhost:8080/home}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{http://localhost:8080/websites}">Websites</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{http://localhost:8080/reviewers}">Reviewers</a>
			</li>
		</ul>
	</div>
</nav>
	<header>
		<h1 class="header">A Learning Website</h1>
	</header>
<div class="container rating-container">
	<div class="row">
		<div class="col-md-4 offset-md-1">
			<div th:each="website: ${websites}">
				<img  th:src = "@{'/img/' + ${website.image}}"/>
			</div>
		</div>
		<div class="col-md-7">
			<div th:each="website: ${websites}">
				<h2 class="heading" th:text="${website.name}"></h2>
				<p th:text = "${website.review}"></p>
			</div>
		</div>
	</div>
<div class="row rating">
	<div class="col-md-4">
		<div th:each="website: ${websites}">
			<h2 class="ratings">Overall Rating</h2>
			<img class="starRating" th:src="@{'/img/' + ${website.starRating}}"/>
		</div>

	</div>
	<div class="col-md-4">
		<div th:each="website: ${websites}">
			<h2 class="ratings">Accessibility</h2>
			<img class="accessibilityRating" th:src="@{'/img/' + ${website.starRating2}}"/>
		</div>

	</div>
	<div class="col-md-4">
		<div th:each="website: ${websites}">
			<h2 class="ratings">Quality of Information</h2>
			<img class="starRating" th:src="@{'/img/' + ${website.starRating3}}"/>
		</div>
	</div>
</div>

</div>
		</div> 

	<div th:each="reviewer: ${reviewers}">
		<h2>
			<a th:href="@{/reviewer(id=${reviewer.id})}" th:text="${reviewer.name}"></a>
		</h2>
	</div>
</body>
</html>