<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> A list of Websites</title>
	<link rel="stylesheet" type="text/css" href="css/websites.css">
</head>
<body id="body">
<header>
	<h1 id="header">Learning Websites</h1>
</header>

<div class="container" th:each="website:${websites}">
	<h2 id="siteImages">
		
			<a id="webLinks" th:href="@{/website(id=${website.id})}"><img class="box" th:src = "@{'/img/' + ${website.image}}"/></a>
			<p th:text = "${website.name}"></p>

	</h2>
	
</div>

<form method="POST">
	<div id="enterWebField">
		<label>Enter Website Name: </label>
		<input type="text" name="websiteName" />
	</div>
	<div id="reviewField">
			<label>Enter Website Review: </label>
			<input type="text" name="websiteReview" />
		</div>
		<div class="ratings">
			<h3 class="ratingHeading">Overall Rating</h3>
		<input type="radio" name="starRating" value="Stars1.png" checked>One<br>
		<input type="radio" name="starRating" value="Stars2.png" checked>Two<br>
		<input type="radio" name="starRating" value="Stars3.png" checked>Three<br>
		<input type="radio" name="starRating" value="Star4.png" checked>Four<br>
		<input type="radio" name="starRating" value="Stars5.png" checked>Five<br>

		</div>
		<div class="ratings">
				<h3 class="ratingHeading">Accessibility</h3>
			<input type="radio" name="starRating2" value="Stars1.png" checked>One<br>
			<input type="radio" name="starRating2" value="Stars2.png" checked>Two<br>
			<input type="radio" name="starRating2" value="Stars3.png" checked>Three<br>
			<input type="radio" name="starRating2" value="Star4.png" checked>Four<br>
			<input type="radio" name="starRating2" value="Stars5.png" checked>Five<br>
	
			</div>
			<div class="ratings">
					<h3 class="ratingHeading">Quality of Information</h3>
				<input type="radio" name="starRating3" value="Stars1.png" checked>One<br>
				<input type="radio" name="starRating3" value="Stars2.png" checked>Two<br>
				<input type="radio" name="starRating3" value="Stars3.png" checked>Three<br>
				<input type="radio" name="starRating3" value="Star4.png" checked>Four<br>
				<input type="radio" name="starRating3" value="Stars5.png" checked>Five<br>
		
				</div>

		<div id="webAddButton">
			<button th:formaction="@{add-website}">Add Website</button> 
		</div>

		
		

</form>
<form method="POST">

		<div id="enterName">
			<label>Enter Website Name:</label> <input type="text"
				name="websiteName" />
		</div>

		<div id="webDeleteButton">
			<button th:formaction="@{del-website}">Delete Website</button>
		</div>

	</form>



<nav>
		<div id="navText">
		<a th:href="@{http://localhost:8080/home}" id="aboutNav">Home</a>
		<a th:href="@{http://localhost:8080/websites}">Websites</a>
		<a th:href="@{http://localhost:8080/reviewers}" id="contactNav">Reviewers</a>
		</div>
	</nav>



</body>
</html>